<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Jade Garden</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script defer src="https://use.fontawesome.com/releases/v5.0.9/js/all.js" integrity="sha384-8iPTk2s/jMVj81dnzb/iFR2sdA7u06vHJyyLlAd4snFpCl/SnyUjRrbdJsw1pGIl" crossorigin="anonymous"></script>
        <link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
        <link href="https://fonts.googleapis.com/css?family=East+Sea+Dokdo|Hi+Melody|Jua" rel="stylesheet">
        <script type="text/javascript" src="/scripts/script.js" defer></script> 
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <div class="page-border"></div>
        <nav class="nav">
            <a class="nav-logo" href="#">
                <img src="images/logos/564654.png">
            </a>
            <div class="nav-main-section">
                <div class="nav-item js-nav-item">
                    <a href="#">Food</a>
                </div>
                <div class="nav-item js-nav-item">
                    <a href="#">Location</a>
                </div>
                <div class="nav-item js-nav-item">
                    <a href="#">Jobs</a>
                </div>
            </div>
            <div class="nav-cart">
                <a href="#"><i id="big-icon" class="fas fa-shopping-cart"></i><div class="cart-price">$0.00</div></a> 
            </div>
        </nav>