// font-family: 'Hi Melody', cursive;
// font-family: 'Jua', sans-serif;
// font-family: 'East Sea Dokdo', cursive;

*, *:before, *:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

.hero-background {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: url("../images/food/hero-image.jpg") no-repeat 25% 50%;
  background-size: cover;
  z-index: 0;
}

nav {
  position: fixed;
  margin: .625rem 0 0 0;
  display: flex;
  justify-content: space-between;
  width: 100vw;
  height: 4.7rem;
  z-index: 100;
  background: rgba(98, 137, 0, .75);
  font-family: 'Jua', sans-serif;
  font-size: 1.2rem;
  a{
    text-decoration: none;
    color: black;
  }
  .nav-logo, .nav-logo img {
    width: 95px;
    height: 100%;
    margin-left: .1rem;
  }
  .nav-main-section {
    display: flex;
    flex-grow: 1;
    // border: 1px solid red;
  }
  .nav-item {
    flex-grow: 1;
    text-align: center;
    line-height: 4.7rem;
    height: 100%;
    a {
      height: 0;
      display: block;
      transition: height .15s ease;
    }
    .highlight-hover {
    color: rgba(150, 150, 150, 1);
    }
  }
  .nav-cart {
    position: relative;
    top: .5rem;
    width: 5rem;
    text-align: center;
  }
  @media only screen and (min-width: 40.1rem) {
    width: 94vw;
    margin: .625rem 0 0 3vw;
    font-size: 2.2rem;
    .nav-item .highlight-hover {
      height: 100%;
      background: linear-gradient(to right, rgba(98, 137, 0, .2), rgba(140, 0, 13, .75), rgba(98, 137, 0, .2));
    }
    .nav-cart {
      font-size: 1.8rem;
      top: -.1rem;
      width: 7.5rem;
    }
  }
  @media only screen and (min-width: 60.1rem) {
    .nav-cart {
      width: 10.8rem;
      top: 1rem;
    }
    .nav-cart div {
      display: inline-block;
      margin-left: .5rem;
    }
  }
}

