// font-family: 'Hi Melody', cursive;
// font-family: 'Jua', sans-serif;
// font-family: 'East Sea Dokdo', cursive;

$tablet: 41rem; 
$desktop: 65rem; 
$highdef: 119rem;  
$border-color: #FAFAF2;
$mobile-padding: 4.2rem;
$desktop-padding: 5.6rem;
$jumbo-padding: 6.45rem;
$small-border: .8rem;
$large-border: 1.2rem;

@mixin mobile-cutoff {
  @media only screen and (min-width: $tablet) {
    @content;
  }
}
@mixin desktop-cutoff {
  @media only screen and (min-width: $desktop) {
    @content;
  }
}
@mixin highdef-cutoff {
  @media only screen and (min-width: $highdef) {
    @content;
  }
}

//CSS section====================================================================

*, *:before, *:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
}

body {
  background: $border-color;
  overflow-x: hidden;
  font-family: 'Jua', sans-serif
}

a {
  text-decoration: none;
}

.page-border {
  @include mobile-cutoff() {
  position: fixed;
  width: 100%;
  height: 100vh;
  border: $small-border solid $border-color;
  z-index: 200;
  pointer-events: none;
  }
  @include desktop-cutoff() {
    border-width: $large-border;
  }
}

//Nav Bar================================================================================
nav {
  position: fixed;
  // left: 0;
  // right: 0;
  // top: 90.9%;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 4.2rem;
  z-index: 201;
  background: rgba(240, 240, 240, 1);
  font-family: 'Jua', sans-serif;
  font-size: 1.1rem;
  // overflow: hidden;
  a{
    color: black;
  }
  .nav__logo, .nav__logo img {
    position: relative;
    bottom: .4rem;
    width: 6.5rem;
    height: 4.8rem;
    margin-left: .1rem;
  }
  .nav__main-section {
    display: flex;
    flex-grow: 1;
  }
  .nav__item {
    flex-grow: 1;
    text-align: center;
    line-height: 4.2rem;
    height: 100%;
    a {
      height: 0;
      display: block;
      transition: height .15s ease;
    }
    .js-highlight-hover {
      border-top: 2px solid rgba(0,0,0,.7);
      color: rgba(50, 50, 50, 1);
      height: 100%;
      background: linear-gradient(to right, rgba(252, 248, 235, .1), rgba(140, 0, 13, .45), rgba(252, 248, 235, .1));
    }
  }
  .nav__cart {
    position: relative;
    top: .5rem;
    width: 5rem;
    text-align: center;
  }
  //breakpoints
  @include mobile-cutoff() {
    top: 0;
    height: 4.7rem;
    margin: $small-border - .1rem auto;
    border: .9rem solid $border-color;
    border-width: 0 $small-border;
    font-size: 2.2rem;
    .nav__main-section {
      flex: 0 1 650px;
    }
    .nav__logo, .nav__logo img {
      position: relative;
      bottom: .4rem;
      width: 9.7rem;
      height: 7.17rem;
      margin-left: .3rem;
    }
    .nav__cart {
      font-size: 1.8rem;
      top: 0rem;
      width: 7.5rem;
    }
    .nav__item {
      line-height: 4.7rem;
    }
  }
  @include desktop-cutoff() {
    height: 5.2rem;
    margin: $large-border auto;
    border: .9rem solid $border-color;
    border-width: 0 $large-border;
    font-size: 2.75rem;
    .nav__main-section {
      flex: 0 1 65%;
    }
    .nav__logo, .nav__logo img {
      position: relative;
      bottom: .5rem;
      margin: 0 0 1rem 1rem;
      width: 11.5rem;
      height: 8.5rem;
    }
    .nav__cart {
      font-size: 2.1rem;
      width: 10.8rem;
      top: 1rem;
      margin-right: 1rem;
    }
    .nav__cart div {
      display: inline-block;
      margin-left: .5rem;
    }
    .nav__item {
      line-height: 5.2rem;
    }
  }
}

//splash image==========================================================================
.splash-image {
  background: url("../images/food/hero-2-mobile.jpg") no-repeat 0 0;
  background-size: 100%;
  height: 34rem;
  text-align: center;
  overflow: hidden;
  .splash-image__text-container {
    position: relative;
    top: 2.2rem;
    text-align: center;
  }
  .splash-image__text1 {
    font-family: 'Hi Melody', cursive;
    font-size: 3.7rem;
    color: #B02124;
  }
  .splash-image__text2 {
    margin-top: -2.8rem;
    font-family: 'East Sea Dokdo', cursive;
    font-size: 2.5rem;
    color: #04C714;
  }
  //breakpoints
  @include mobile-cutoff() {
    background: url("../images/food/hero-2.jpg") no-repeat 15% 0;
    height: 42rem;
    margin: auto;
    box-sizing: content-box;
    .splash-image__text-container {
      top: 6.5rem;
      margin-left: 1rem;;
      width: 475px;
    }
    .splash-image__text1 {
      font-size: 5rem;
    }
    .splash-image__text2 {
      font-size: 3rem;
      margin-top: -3.5rem;
    }
  }
  @include desktop-cutoff() {
    height: 44rem;
    background-position: 0 0;
    background-size: 100%;
    .splash-image__text-container {
      top: 6rem;
      left: -5rem;
      width: 800px;
    }
    .splash-image__text1 {
      font-size: 6.5rem;
    }
    .splash-image__text2 {
      font-size: 4rem;
      margin-top: -5rem;
    }
  }
  @include highdef-cutoff() {
    height: 57rem;
  }
}

//info panels ==========================================================================

.info-panel {
  position: relative;
  width: 100%;
  height: 34rem;
  overflow: hidden;
  z-index: 101;
  margin-top: $small-border;
}
.info-panel--small {
  height: 17rem;
}
.info-panel__text-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: 1.5rem auto;
  font-size: 2.5rem;
  text-align: center;
  width: 80%;
  height: 17rem;
}
.button-link {
  display: inline-block;
  position: relative;
  margin: auto;
  top: -.5rem;
  height: 4rem;
  width: 17rem;
  color: purple;
  line-height: 4rem;
  background: #1890f2;
  border-radius: 12px;
  box-shadow: 0 2px #888888;
  font-family: 'Jua', sans-serif;
  &:hover {
    background: black;
  }
  &:active {
    height: 3.93rem;
    transform: translate(0, .07rem);
    background: #1890f2;
  }
}
.button-link--green {
  margin-top: 1rem;
  background: #046904;
}
.button-link--black {
  margin-top: 1rem;
  background: rgba(240, 240, 240, 1);
}
.info-panel__text {
  font-family: 'Jua', sans-serif;
}
.info-panel__text--small {
  font-size: 1.8rem;
}
.info-panel__text--big {
  font-size: 3rem;
  font-weight: bold;
}
.info-panel__text--blue {
  color: #1890f2;
}
.info-panel__text--green {
  color: #056305;
}
.info-panel__text--big-blue {
  color: #1890f2;
}

//new smoothies panel
.info-panel--drinks {
  background: url("../images/drinks/showcase-drink2.jpg") no-repeat 0 100%;
  background-size: 105% auto;
}
.info-panel--drinks .info-panel__text--big {
  position: relative;
  top: -1rem;
}

//locally sourced panel
.info-panel--local {
  background: url("../images/local/showcase-local.jpg") no-repeat 50% 50%;
  background-size: 135% auto;
}
.info-panel--local .info-panel__text-container {
  margin-top: 3.5rem;
}

//interior panel
.info-panel--interior {
  background: url("../images/misc/showcase-remodel.jpg") no-repeat 50% 25%;
  background-size: 100% auto;
}

//Custom Catering panel
.info-panel--catering {
  background: url("../images/misc/showcase-catering-mobile.jpg") no-repeat 50% 25%;
  background-size: 100% auto;
}
.info-panel--catering .info-panel__text-container {
  margin-top: 5rem;
}

//social bar
.info-panel--micro {
  height: 2.5rem;
  line-height: 2.5rem;
  text-align: center;
  font-size: 1.6rem;
  color: white;
}
.info-panel--gray {
  background: black;
}

//twitter panel
.info-panel--black {
  background: gray;
  opacity: 1;
}
.info-panel__long-text {
  position: absolute;
  top: 5%;
  left: 0;
  right: 0;
  margin: auto;
  width: 80%;
  height: 80%;
  text-align: left;
  font-size: 1.4rem;
  color: white;
  z-index: 2;
}
.info-panel__logo {
  position: absolute;
  height: 10%;
  bottom: 8%;
  left: 3%;
  font-size: 2.5rem;
  color: white; 
  z-index: 2;
}
.info-panel__zpane {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 1;
}
.info-panel__zpane--twitter {
  background: url("../images/interior/twitter.jpg") no-repeat 10% 0;
  background-size: 115%;
}

//instagram panel
.info-panel__zpane--instagram {
  background: url("../images/local/instagram.jpg") no-repeat 10% 0;
  background-size: 115%;
}

//facebook panel
.info-panel__zpane--facebook {
  background: url("../images/interior/facebook.jpg") no-repeat 10% 0;
  background-size: 115%;
}


@include mobile-cutoff() {
  .info-panel {
    height: 25rem;
  }
  .info-panel--micro {
    height: 3rem;
    line-height: 3rem;
    font-size: 1.8rem;
  }
  .info-panel--drinks {
    background: url("../images/drinks/showcase-drink3.jpg") no-repeat 0% 60%;
    background-size: 130% auto;
  }
  .info-panel--drinks .info-panel__text-container {
    width: 50%;
    top: 18%;
    right: 45%;
  }
  .info-panel--small {
    height: 20rem;
  }
  .info-panel--local {
    background-size: 100% auto;
  }
  .info-panel--local .info-panel__text-container {
    top: 4%;
  }
  .info-panel--interior {
    background-position: 50% 50%;
  }
  .info-panel--interior .info-panel__text-container {
    margin-top: 6rem;
  }
  .info-panel--catering {
    background: url("../images/misc/showcase-catering-desktop.jpg") no-repeat 50% 25%;
    background-size: 100% auto;
  }
}

//showcase section=======================================================================
$showcase-zoom-out: 100%;
$showcase-zoom-in: 130%;
$rotation-offset: 40.8deg;

.h-scroll-container {
  display: flex;
  overflow-x: scroll;
  margin: $small-border;
  margin-top: $small-border - .1rem;
  @include mobile-cutoff() {
    flex-wrap: wrap;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
    width: 98%;
  }
  @include desktop-cutoff() {
    width: 98.5%;
  }
}

.diagonal-box {
  position: relative;
  flex: 0 0 60vw;
  height: 60vw * .857;
  overflow: hidden;
  margin-right: $small-border;
  border: 1px solid black;
  .diagonal-box__top {
    width: 145%;
    height: 100%;
    background: black;
  }
  .diagonal-box__top-image{
    width: 120%;
    transition: transform .75s ease, opacity 1.5s ease;
  }
  .diagonal-box__text {
    width: 90%;
    height: 51vw;
    position: absolute;
    top: 30%;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
    font-size: 7.5vw;
    color: white;
    transform: translate(0, 55%) scale(.05);
    transition: transform .5s ease-out;
  }
  .diagonal-box__bottom-text {
    width: 50%;
    height: 50%;
    position: absolute;
    top: 23%;
    left: 29%;
    text-align: center;
    font-size: 7.5vw;
    color: white;
    transform: translate(-100%, 155%) rotate($rotation-offset) scale(.05);
    transition: transform .5s ease-out;
  }
  .diagonal-box__bottom {
    border: 1px solid black;
    overflow: hidden;
    position: absolute;
    width: 163.5%;
    height: 130%;
    top: 35.3%;
    left: 3.8%;
    background: black;
    transform: rotate(-$rotation-offset);
    transition: transform .75s ease;
  }
  .diagonal-box__bottom-image {
    position: absolute;
    top: -30%;
    width: 110%;
    transform: rotate(40.6deg);
    transition: transform .75s ease, opacity 1.5s ease;
  }
  //animations section
  .js-top-image-transform {
    transform: translate(-19.5%, -13%) scale(.75);
    opacity: .75;
  }
  .js-diagonal-slide-down {
    transform: translate(23%, 23%) rotate(-$rotation-offset);
  }
  .js-text-slide {
    transform: translate(0, 0) scale(1);
  }
  .js-text-slide-bot {
    transform: translate(0, 1%) scale(1) rotate($rotation-offset);
  }
  .js-bottom-image-transform {
    transform: translate(2.5%, 15%) scale(.75) rotate($rotation-offset);
    opacity: .75;
  }
  .js-diagonal-slide-up {
    transform: translate(-22%, -24.5%) rotate(-$rotation-offset);
  }
  //breakpoints
  @include mobile-cutoff() {
    flex: 1 1 49%;
    height: 48vw * .857;
    .diagonal-box__text, .diagonal-box__bottom-text {
      font-size: 6vw;
    }
  }
  @include desktop-cutoff() {
    flex: 1 1 24.25%;
    height: 23.5vw * .857;
    .diagonal-box__text, .diagonal-box__bottom-text {
      font-size: 3vw;;
    }
  }
  @include highdef-cutoff() {
    .diagonal-box__text, .diagonal-box__bottom-text {
      font-size: 3vw;
    }
  }
}

@include mobile-cutoff() {
  .diagonal-box {
    margin-right: 0;
  }
  .diagonal-box:nth-child(odd) {
    margin-right: $small-border;
  }
}
@include desktop-cutoff() {
  .diagonal-box {
    margin-right: 1% !important;
  }
  .diagonal-box:nth-child(4) {
    margin-right: 0!important;
  }
}

//footer section=======================================================================

.footer {
  width: 100%;
  margin-bottom: 8rem;
}
.footer__social-panel {
  height: 2.7rem;
  line-height: 2.7rem;
  background: #919191;
  text-align: center;
  font-size: 1.5rem;
}
.footer__social-panel .icon {
  margin-right: 23px;
}
.footer__mobile-stores {
  width: 100%;
  height: 4.9rem;
  line-height: 6rem;
  text-align: center;
  background: #434544;
}
.footer__mobile-stores img {
  margin-top: 11px;
}
.footer__mobile-stores img:nth-child(1) {
  height: 55px;
  width: 131px;
}
.footer__mobile-stores img:nth-child(2) {
  height: 60px;
  width: 131px;
  padding-top: 5px;
}
.footer__text {
  background: #434544;
  height: 3.5rem;
  text-align: center;
  color: white;
}


