// font-family: 'Hi Melody', cursive;
// font-family: 'Jua', sans-serif;
// font-family: 'East Sea Dokdo', cursive;

$tablet: 50.1rem; //800pixel android tablets
$desktop: 79rem;  //720p and larger screens
$border-color: #FAFAF2;
$mobile-padding: 4.2rem;
$desktop-padding: 5.6rem;
$jumbo-padding: 6.45rem;
$small-border: .8rem;
$large-border: 1.2rem;

@mixin mobile-cutoff {
  @media only screen and (min-width: $tablet) {
    @content;
  }
}

@mixin desktop-cutoff {
  @media only screen and (min-width: $desktop) {
    @content;
  }
}

//CSS section====================================================================

*, *:before, *:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
}

body {
  background: $border-color;
  overflow-x: hidden;
}

.page-border {
  @include mobile-cutoff() {
  position: fixed;
  width: 100%;
  height: 100vh;
  border: $small-border solid $border-color;
  z-index: 101;
  pointer-events: none;
  }
  @include desktop-cutoff() {
    border-width: $large-border;
  }
}

//Nav Bar================================================================================
nav {
  position: fixed;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 4.2rem;
  z-index: 102;
  background: rgba(240, 240, 240, 1);
  font-family: 'Jua', sans-serif;
  font-size: 1.1rem;
  // overflow: hidden;
  a{
    text-decoration: none;
    color: black;
  }
  .nav-logo, .nav-logo img {
    width: 90px;
    height: 100%;
    margin-left: .1rem;
  }
  .nav-main-section {
    display: flex;
    flex-grow: 1;
  }
  .nav-item {
    flex-grow: 1;
    text-align: center;
    line-height: 4.2rem;
    height: 100%;
    a {
      height: 0;
      display: block;
      transition: height .15s ease;
    }
    .highlight-hover {
      border-top: 2px solid rgba(0,0,0,.7);
      color: rgba(50, 50, 50, 1);
      height: 100%;
      background: linear-gradient(to right, rgba(252, 248, 235, .1), rgba(140, 0, 13, .45), rgba(252, 248, 235, .1));
    }
  }
  .nav-cart {
    position: relative;
    top: .5rem;
    width: 5rem;
    text-align: center;
  }
  @include mobile-cutoff() {
    height: 4.7rem;
    margin: $small-border - .1rem auto;
    border: .9rem solid $border-color;
    border-width: 0 $small-border;
    font-size: 2.2rem;
    .nav-main-section {
      flex: 0 1 650px;
    }
    .nav-logo, .nav-logo img {
      position: relative;
      bottom: .4rem;
      width: 9.7rem;
      height: 7.17rem;
      margin-left: .3rem;
    }
    .nav-cart {
      font-size: 1.8rem;
      top: 0rem;
      width: 7.5rem;
    }
    .nav-item {
      line-height: 4.7rem;
    }
  }
  @include desktop-cutoff() {
    height: 5.2rem;
    margin: $large-border auto;
    border: .9rem solid $border-color;
    border-width: 0 $large-border;
    font-size: 2.75rem;
    .nav-main-section {
      flex: 0 1 65%;
    }
    .nav-logo, .nav-logo img {
      position: relative;
      bottom: .5rem;
      margin: 0 0 1rem 1rem;
      width: 11.5rem;
      height: 8.5rem;
    }
    .nav-cart {
      font-size: 2.1rem;
      width: 10.8rem;
      top: 1rem;
      margin-right: 1rem;
    }
    .nav-cart div {
      display: inline-block;
      margin-left: .5rem;
    }
    .nav-item {
      line-height: 5.2rem;
    }
  }
}

//splash image==========================================================================
.splash-image {
  position: relative;
  max-height: 570px;
  padding-top: $mobile-padding;
  overflow: hidden;
  img {
    position: relative;
    width: 200vw;
    left: -56vw;
  }
  .text1 {
    position: absolute;
    top: 6.2rem;
    left: 3vw;
    font-family: 'Hi Melody', cursive;
    font-size: 3.8rem;
    color: #B3073B;
  }
  .text2 {
    position: absolute;
    top: 9.7rem;
    left: 3vw;
    width: 80%;
    font-family: 'East Sea Dokdo', cursive;
    font-size: 2.5rem;
    color: #04C714;
  }
  @include mobile-cutoff() {
    max-width: 100%;
    margin: auto;
    box-sizing: content-box;
    img {
      width: 100%;
      left: 0;
    }
    .text1 {
      font-size: 5rem;
      left: 7vw;
      top: $desktop-padding + 1.5rem;;
    }
    .text2 {
      font-size: 3rem;
      top: $desktop-padding + 6.15rem;
      left: 7vw;
    }
  }
  @include desktop-cutoff() {
    max-height: 100vh;
    // max-width: 100%;
    .text1 {
      font-size: 6.5rem;
      left: 10vw;
      top: $jumbo-padding + 1.5rem;
    }
    .text2 {
      font-size: 4.5rem;
      top: $jumbo-padding + 6.75rem;
      left: 10vw;
    }
  }
}

//showcase section=======================================================================
$showcase-zoom-out: 100%;
$showcase-zoom-in: 130%;

.showcase-scroll-wrapper {
  display: flex;
  // overflow-y: hidden;
  overflow-x: scroll;
  margin: $small-border;
  margin-top: $small-border - .1rem;
}

.showcase-wrapper {
  position: relative;
  flex: 0 0 70vmin;
  height: 60vmin;
  margin-right: $small-border;
  overflow: hidden;
  .showcase-box1 {
    width: 100vmin;
    height: 85vmin;
    background: black;
  }
  .showcase-box1 img{
    width: 120%;
    opacity: .5;
    transition: transform .75s ease, opacity 1s ease;
  }
  .showcase-box2 {
    border: 1px solid white;
    overflow: hidden;
    position: absolute;
    width: 120vmin;
    height: 80vmin;
    top: 33.5%;
    left: 2%;
    background: black;
    transform: rotate(-40.6deg);
    transition: transform .75s ease;
  }
  .showcase-box2 img {
    position: absolute;
    top: -30%;
    width: 110%;
    opacity: .5;
    transform: rotate(40.6deg);
    transition: transform .75s ease, opacity 1s ease;
  }
  //hover section
  .showcase-box1 .showcase-box1-image-transform {
    transform: translate(-20.5%, -13%) scale(.75);
    opacity: 1;
  }
  .showcase-box2-transform-down {
    transform: translate(23%, 23%) rotate(-40.6deg);
  }

  .showcase-box2 .showcase-box2-image-transform {
    transform: translate(2.5%, 14%) scale(.75) rotate(40.6deg);
    opacity: 1;
  }
  .showcase-box2-transform-up {
    transform: translate(-23%, -23%) rotate(-40.6deg);
  }
}

