*, *:before, *:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0; }

html {
  box-sizing: border-box; }

body {
  background: #FAFAF2;
  overflow-x: hidden; }

a {
  text-decoration: none; }

@media only screen and (min-width: 41rem) {
  .page-border {
    position: fixed;
    width: 100%;
    height: 100vh;
    border: 0.8rem solid #FAFAF2;
    z-index: 101;
    pointer-events: none; } }

@media only screen and (min-width: 65rem) {
  .page-border {
    border-width: 1.2rem; } }

nav {
  position: fixed;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 4.2rem;
  z-index: 102;
  background: #f0f0f0;
  font-family: 'Jua', sans-serif;
  font-size: 1.1rem; }
  nav a {
    color: black; }
  nav .nav__logo, nav .nav__logo img {
    width: 90px;
    height: 100%;
    margin-left: .1rem; }
  nav .nav__main-section {
    display: flex;
    flex-grow: 1; }
  nav .nav__item {
    flex-grow: 1;
    text-align: center;
    line-height: 4.2rem;
    height: 100%; }
    nav .nav__item a {
      height: 0;
      display: block;
      transition: height .15s ease; }
    nav .nav__item .js-highlight-hover {
      border-top: 2px solid rgba(0, 0, 0, 0.7);
      color: #323232;
      height: 100%;
      background: linear-gradient(to right, rgba(252, 248, 235, 0.1), rgba(140, 0, 13, 0.45), rgba(252, 248, 235, 0.1)); }
  nav .nav__cart {
    position: relative;
    top: .5rem;
    width: 5rem;
    text-align: center; }
  @media only screen and (min-width: 41rem) {
    nav {
      height: 4.7rem;
      margin: 0.7rem auto;
      border: 0.9rem solid #FAFAF2;
      border-width: 0 0.8rem;
      font-size: 2.2rem; }
      nav .nav__main-section {
        flex: 0 1 650px; }
      nav .nav__logo, nav .nav__logo img {
        position: relative;
        bottom: .4rem;
        width: 9.7rem;
        height: 7.17rem;
        margin-left: .3rem; }
      nav .nav__cart {
        font-size: 1.8rem;
        top: 0rem;
        width: 7.5rem; }
      nav .nav__item {
        line-height: 4.7rem; } }
  @media only screen and (min-width: 65rem) {
    nav {
      height: 5.2rem;
      margin: 1.2rem auto;
      border: 0.9rem solid #FAFAF2;
      border-width: 0 1.2rem;
      font-size: 2.75rem; }
      nav .nav__main-section {
        flex: 0 1 65%; }
      nav .nav__logo, nav .nav__logo img {
        position: relative;
        bottom: .5rem;
        margin: 0 0 1rem 1rem;
        width: 11.5rem;
        height: 8.5rem; }
      nav .nav__cart {
        font-size: 2.1rem;
        width: 10.8rem;
        top: 1rem;
        margin-right: 1rem; }
      nav .nav__cart div {
        display: inline-block;
        margin-left: .5rem; }
      nav .nav__item {
        line-height: 5.2rem; } }

.splash-image {
  position: relative;
  max-height: 570px;
  padding-top: 4.2rem;
  overflow: hidden; }
  .splash-image img {
    position: relative;
    width: 185vw;
    left: -40vw;
    top: -20vw;
    transform: rotate(100deg); }
  .splash-image .splash-image__text1 {
    position: absolute;
    top: 6.2rem;
    left: 3vw;
    font-family: 'Hi Melody', cursive;
    font-size: 3.8rem;
    color: #B02124; }
  .splash-image .splash-image__text2 {
    position: absolute;
    top: 9.7rem;
    left: 3vw;
    width: 80%;
    font-family: 'East Sea Dokdo', cursive;
    font-size: 2.5rem;
    color: #04C714; }
  @media only screen and (min-width: 41rem) {
    .splash-image {
      max-width: 100%;
      margin: auto;
      box-sizing: content-box; }
      .splash-image img {
        width: 100%;
        left: 0;
        top: 1rem;
        transform: rotate(0deg); }
      .splash-image .splash-image__text1 {
        font-size: 5rem;
        left: 7vw;
        top: 7.1rem; }
      .splash-image .splash-image__text2 {
        font-size: 3rem;
        top: 11.75rem;
        left: 7vw; } }
  @media only screen and (min-width: 65rem) {
    .splash-image {
      max-height: 100vh; }
      .splash-image .splash-image__text1 {
        font-size: 6.5rem;
        left: 10vw;
        top: 7.95rem; }
      .splash-image .splash-image__text2 {
        font-size: 4.5rem;
        top: 13.2rem;
        left: 10vw; } }

.info-panel {
  position: relative;
  width: 100%;
  height: 34rem;
  overflow: hidden;
  margin-top: 0.8rem; }

.info-panel__image {
  background: url("../images/drinks/showcase-drink2.jpg") no-repeat 0 100%;
  background-size: 105% auto;
  height: 100%; }

.info-panel__text-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: 1.5rem auto;
  font-size: 2.5rem;
  text-align: center;
  font-family: 'Jua', sans-serif;
  width: 80%;
  height: 17rem; }

.info-panel__text--blue {
  color: #1890f2; }

.info-panel__text--big-blue {
  position: relative;
  color: #1890f2;
  font-size: 3rem;
  font-weight: bold;
  top: -1rem; }

.button-link {
  display: inline-block;
  height: 4rem;
  width: 17rem;
  position: relative;
  margin: auto;
  top: -.5rem;
  height: 4rem;
  width: 17rem;
  color: purple;
  line-height: 4rem;
  background: #1890f2;
  border-radius: 12px;
  box-shadow: 0 2px #888888; }
  .button-link:hover {
    background: #4ca5ee;
    background: black; }

.js-pressed {
  height: 3.93rem;
  transform: translate(0, 0.07rem);
  background: #1890f2 !important; }

@media only screen and (min-width: 41rem) {
  .info-panel {
    height: 25rem; }
  .info-panel__image {
    background: url("../images/drinks/showcase-drink3.jpg") no-repeat 0% 60%;
    background-size: 130% auto; }
  .info-panel__text-container {
    width: 50%;
    top: 18%;
    right: 45%; } }

.info-panel--small {
  height: 17rem; }

.info-panel__image--local {
  background: url("../images/local/showcase-local.jpg") no-repeat 50% 50%;
  background-size: 135% auto; }

.info-panel__text--green {
  color: #056305; }

.button-link--green {
  margin-top: 1rem;
  background: #046904; }

.info-panel__image--remodel {
  background: url("../images/misc/showcase-remodel.jpg") no-repeat 50% 25%;
  background-size: 100% auto; }

.info-panel__text--tiny {
  font-size: 1.8rem; }

.info-panel__image--catering {
  background: url("../images/misc/showcase-catering-mobile.jpg") no-repeat 50% 25%;
  background-size: 100% auto; }

.info-panel__text-container--low {
  margin-top: 5rem; }

.button-link--black {
  margin-top: 1rem;
  background: #f0f0f0; }

.showcase-scroll-wrapper {
  display: flex;
  overflow-x: scroll;
  margin: 0.8rem;
  margin-top: 0.7rem; }
  @media only screen and (min-width: 41rem) {
    .showcase-scroll-wrapper {
      flex-wrap: wrap;
      overflow-x: scroll;
      -webkit-overflow-scrolling: touch;
      width: 98%; } }
  @media only screen and (min-width: 65rem) {
    .showcase-scroll-wrapper {
      width: 98.5%; } }

.showcase-wrapper {
  position: relative;
  flex: 0 0 65vw;
  height: 55.705vw;
  overflow: hidden;
  margin-right: 0.8rem;
  border: 1px solid black; }
  .showcase-wrapper .showcase-box1 {
    width: 145%;
    height: 123.25%;
    background: black; }
  .showcase-wrapper .showcase-box1 img {
    width: 120%;
    transition: transform .75s ease, opacity 1.5s ease; }
  .showcase-wrapper .showcase-box2 {
    border: 1px solid black;
    overflow: hidden;
    position: absolute;
    width: 163.5%;
    height: 130%;
    top: 35.3%;
    left: 3.8%;
    background: black;
    transform: rotate(-40.8deg);
    transition: transform .75s ease; }
  .showcase-wrapper .showcase-box2 img {
    position: absolute;
    top: -30%;
    width: 110%;
    transform: rotate(40.6deg);
    transition: transform .75s ease, opacity 1.5s ease; }
  .showcase-wrapper .showcase-box1 .showcase-box1-image-transform {
    transform: translate(-19.5%, -13%) scale(0.75);
    opacity: 1; }
  .showcase-wrapper .showcase-box2-transform-down {
    transform: translate(23%, 23%) rotate(-40.8deg); }
  .showcase-wrapper .showcase-box2 .showcase-box2-image-transform {
    transform: translate(2.5%, 15%) scale(0.75) rotate(40.8deg);
    opacity: 1; }
  .showcase-wrapper .showcase-box2-transform-up {
    transform: translate(-22%, -24.5%) rotate(-40.8deg); }
  @media only screen and (min-width: 41rem) {
    .showcase-wrapper {
      flex: 1 1 49%;
      height: 41.136vw;
      margin-bottom: 0.8rem; } }
  @media only screen and (min-width: 65rem) {
    .showcase-wrapper {
      flex: 1 1 24.25%;
      height: 20.1395vw; } }

@media only screen and (min-width: 41rem) {
  .showcase-wrapper {
    margin-right: 0; }
  .showcase-wrapper:nth-child(odd) {
    margin-right: 0.8rem; } }

@media only screen and (min-width: 65rem) {
  .showcase-wrapper {
    margin-right: 1% !important; }
  .showcase-wrapper:nth-child(4) {
    margin-right: 0 !important; } }
