<% include ../partials/header %>

<div class="splash-image">
    <img src="images/food/hero-4.jpg">
    <div class="text1">Yakisoba Risotto</div>
    <div class="text2">with spring vegetables</div>
</div>

<!-- 4 dishes appear over restuarant lamp background, swipe to left, then 4 new food images appear -->

<% include ../partials/footer %>