<% include ../partials/header %>

<div class="splash-image">
    <img src="images/food/hero-2.jpg">
    <div class="text1">Hokigai Sashimi</div>
    <div class="text2">with spring vegetables</div>
</div>

<div class="showcase-scroll-wrapper">
    <div class="showcase-wrapper">
        <div class="showcase-box1">
            <img src="images/food/showcase-1.jpg">
        </div>
        <div class="showcase-box2">
            <img src="images/food/showcase-2.jpg">
        </div>
    </div>
    <div class="showcase-wrapper">
        <div class="showcase-box1">
            <img src="images/food/showcase-3.jpg">
        </div>
        <div class="showcase-box2">
            <img src="images/food/showcase-4.jpg">
        </div>
    </div>
    <div class="showcase-wrapper">
        <div class="showcase-box1">
            <img src="images/food/showcase-5.jpg">
        </div>
        <div class="showcase-box2">
            <img src="images/food/showcase-6.jpg">
        </div>
    </div>
</div>

<!-- 4 dishes appear over restuarant lamp background, swipe to left, then 4 new food images appear -->

<% include ../partials/footer %>