<% include ../partials/header %>

<div class="hero-background"></div>

<h1>This is the index page!</h1>

<!-- 4 dishes appear over restuarant lamp background, swipe to left, then 4 new food images appear -->

<% include ../partials/footer %>