<% include ../partials/header %>

<div class="splash-image">
    <img src="images/food/hero-2.jpg">
    <div class="splash-image__text1">Hokigai Sashimi</div>
    <div class="splash-image__text2">with spring vegetables</div>
</div>

<div class="info-panel">
    <div class="info-panel__image"></div>
    <div class="info-panel__text-container">
        <div class="info-panel__text1"><i class="far fa-snowflake"></i> Iced <i class="far fa-snowflake"></i></div>
        <div class="info-panel__text2">Milk Frosties</div>
        <a href="">
            <div class="info-panel__text3 js-text3"><i class="far fa-star"></i> Try One! <i class="fas fa-star"></i></div>
        </a>
    </div>
</div>

<div class="showcase-scroll-wrapper">
    <div class="showcase-wrapper">
        <div class="showcase-box1 js-showcase-box1">
            <img src="images/food/showcase-1.jpg">
        </div>
        <div class="showcase-box2 js-showcase-box2">
            <img src="images/food/showcase-2.jpg">
        </div>
    </div>
    <div class="showcase-wrapper">
        <div class="showcase-box1 js-showcase-box1">
            <img src="images/food/showcase-3.jpg">
        </div>
        <div class="showcase-box2 js-showcase-box2">
            <img src="images/food/showcase-4.jpg">
        </div>
    </div>
    <div class="showcase-wrapper">
        <div class="showcase-box1 js-showcase-box1">
            <img src="images/food/showcase-5.jpg">
        </div>
        <div class="showcase-box2 js-showcase-box2">
            <img src="images/food/showcase-6.jpg">
        </div>
    </div>
    <div class="showcase-wrapper">
        <div class="showcase-box1 js-showcase-box1">
            <img src="images/food/showcase-8.jpg">
        </div>
        <div class="showcase-box2 js-showcase-box2">
            <img src="images/food/showcase-7.jpg">
        </div>
    </div>
</div>

<div class="info-panel2">
    <div class="local-image"></div>
    <div class="local-text-container">
        <div class="local-text1">Locally Sourced</div>
        <a href="#"><div class="local-text2">Learn More</div></a>
    </div>
</div>


<% include ../partials/footer %>