<% include ../partials/header %>

<section class="splash-image">
    <div class="splash-image__text-container">
        <div class="splash-image__text1">Hakigai Sashimi</div>
        <div class="splash-image__text2">with spring vegetables</div>
    </div>
</section>

<section class="info-panel info-panel--drinks">
    <div class="info-panel__image"></div>
    <div class="info-panel__text-container">
        <div class="info-panel__text info-panel__text--blue"><i class="far fa-snowflake"></i> Iced <i class="far fa-snowflake"></i></div>
        <div class="info-panel__text info-panel__text--big info-panel__text--blue">Milk Frosties</div>
        <a class="button-link" href="">
            <i class="far fa-star"></i> Try One! <i class="fas fa-star"></i>
        </a>
    </div>
</section>

<section class="h-scroll-container">
    <div class="diagonal-box">
        <div class="diagonal-box__top js-showcase-box1">
            <img class="diagonal-box__top-image" src="images/food/showcase-1.jpg">
            <div class="diagonal-box__text">Spicy Pork Rib Bulgogi</div>
        </div>
        <div class="diagonal-box__bottom js-showcase-box2">
            <img class="diagonal-box__bottom-image" src="images/food/showcase-2.jpg">
            <div class="diagonal-box__bottom-text">Stuffed Oyster Shells</div>
        </div>
    </div>
    <div class="diagonal-box">
        <div class="diagonal-box__top js-showcase-box1">
            <img class="diagonal-box__top-image" src="images/food/showcase-3.jpg">
            <div class="diagonal-box__text">Chicken Soba Noodles</div>
        </div>
        <div class="diagonal-box__bottom js-showcase-box2">
            <img class="diagonal-box__bottom-image" src="images/food/showcase-4.jpg">
            <div class="diagonal-box__bottom-text">Seared Bluefin Tuna</div>
        </div>
    </div>
    <div class="diagonal-box">
        <div class="diagonal-box__top js-showcase-box1">
            <img class="diagonal-box__top-image" src="images/food/showcase-5.jpg">
            <div class="diagonal-box__text">Kansai Region Sampler</div>
        </div>
        <div class="diagonal-box__bottom js-showcase-box2">
            <img class="diagonal-box__bottom-image" src="images/food/showcase-6.jpg">
            <div class="diagonal-box__bottom-text">Ozaku Octopus Fry</div>
        </div>
    </div>
    <div class="diagonal-box">
        <div class="diagonal-box__top js-showcase-box1">
            <img class="diagonal-box__top-image" src="images/food/showcase-8.jpg">
            <div class="diagonal-box__text">High Noon Caviar</div>
        </div>
        <div class="diagonal-box__bottom js-showcase-box2">
            <img class="diagonal-box__bottom-image" src="images/food/showcase-7.jpg">
            <div class="diagonal-box__bottom-text">Kobe Beef Noodles</div>
        </div>
    </div>
</section>

<section class="info-panel info-panel--small info-panel--local">
    <div class="info-panel__text-container">
        <div class="info-panel__text info-panel__text--green">Locally Sourced</div>
        <a class="button-link button-link--green" href="#">Learn More</a>
    </div>
</section>

<section class="info-panel info-panel--interior">
    <div class="info-panel__text-container">
        <div class="info-panel__text">Newly Remodeled Interior</div>
        <div class="info-panel__text info-panel__text--small">Come see our brand new dining room!</div>
        <a class="button-link button-link--black" href="#">Details</a>
    </div>
</section>

<section class="info-panel info-panel--small info-panel--catering">
    <div class="info-panel__text-container">
        <div class="info-panel__text">Custom Catering</div>
        <a class="button-link button-link--black" href="#">Order Now</a>
    </div>
</section>

<div class="info-panel info-panel--micro info-panel--gray">
    Get Social!
</div>

<a href=""><div class="info-panel info-panel--small info-panel--black">
    <div class="info-panel__zpane info-panel__zpane--twitter"></div>
    <div class="info-panel__long-text">Come for the food, and stay for the service. High-speed 5 GHz wifi, free drink refills, 
        and an all-new interior designed with you in mind!
    </div>
    <div class="info-panel__logo">
        <i class="fab fa-twitter-square"></i>
    </div>
</div>
</a>

<a href=""><div class="info-panel info-panel--small info-panel--black">
    <div class="info-panel__zpane info-panel__zpane--instagram"></div>
    <div class="info-panel__long-text">Our network of local farms allow us to 
        make sure that only the freshest veggies make it on to your plate. 
        See the farmers that make it all possible!
    </div>
    <div class="info-panel__logo">
        <i class="fab fa-instagram"></i>
    </div>
</div>
</a>

<a href=""><div class="info-panel info-panel--small info-panel--black">
    <div class="info-panel__zpane info-panel__zpane--facebook"></div>
    <div class="info-panel__long-text">Irina helps out her local community 
        with the help of our Bright Futures program, which provides free meals for 
        families in need.
    </div>
    <div class="info-panel__logo">
        <i class="fab fa-facebook-f"></i>
    </div>
</div>
</a>

<footer class="footer">
    <div class="footer__social-panel">
        <i class="fab fa-facebook-f icon"></i>
        <i class="fab fa-twitter icon"></i>
        <i class="fab fa-youtube-square icon"></i>
        <i class="fab fa-instagram icon"></i>
    </div>
    <div class="footer__mobile-stores">
        <img src="images/social/apple-store-badge.svg" alt="download on the apple app store">
        <img src="images/social/google-play-badge.png" alt="get it on google play">
    </div>
    <div class="footer__text">
        <i class="far fa-copyright"></i>Copyright Jade Dragon Inc. All Rights Reserved.
    </div>
</footer>




<% include ../partials/footer %>